<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finance Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <style>
        body {
          background-image: url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?t=st=1655133281~exp=1655133881~hmac=0e0a9542423370660de80b4ac538b608fe476fcdf2cfb3384e3c50f571cf0dce&w=740');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        .btn {
            border-radius: 0px;
        }
      </style>
</head>

<body>
    <div class="modal fade" id="updateForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark text-light">
              <h5 class="modal-title" id="exampleModalLongTitle">Update</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/dashboard/finance-update" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Amount</label>
                            <input type="number" step="0.01" class="form-control form-control-sm" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="amount" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Description</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                                name="description" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="exampleInputEmail1">Type</label>
                            <select class="form-control form-control-sm" id="exampleFormControlSelect2" name="type" required>
                                <option value="debit">Debit(-)</option>
                                <option value="credit">Credit(+)</option>
                              </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="exampleInputPassword1">Date</label>
                            <input type="date" class="form-control form-control-sm" id="exampleInputPassword1"
                                name="date" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="exampleInputPassword1">Account</label>
                            <select class="form-control form-control-sm" id="exampleFormControlSelect2" name="account" required>
                                <option value="DBBL">DBBL</option>
                                <option value="EBL">EBL</option>
                                <option value="AB">AB</option>
                                <option value="IBBL">IBBL</option>
                              </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </form>
            </div>
          </div>
        </div>
      </div>




    <div class="container">
        
        <div class="row mt-5">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                      DBBL
                    </div>
                    <div class="card-body">
                        <h4><%= balDBBL.toFixed(2) %></h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                      EBL
                    </div>
                    <div class="card-body">
                      <h4><%= balEBL.toFixed(2) %></h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                      IBBL
                    </div>
                    <div class="card-body">
                        <h4><%= balIBBL.toFixed(2) %></h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                      AB
                    </div>
                    <div class="card-body">
                        <h4><%= balAB.toFixed(2) %></h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                      Total
                    </div>
                    <div class="card-body">
                        <h4><%= totalBal.toFixed(2) %> TK</h4>
                    </div>
                  </div>
            </div>
        </div>
        <!-- table of Client -->

        <div class="card mt-3 mb-5">
            <% if(message.success) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= message.success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>
            <div class="card-header bg-dark text-light">
                <div class="row">
                    <div class="col-md-10">
                        <span>History</span>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="/dashboard" class="btn btn-sm btn-info">Home</a>
                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#updateForm">Update</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="client-datatable" class="table table-sm table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Type</th>
                            <th>Account</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% histories.forEach(history => { %>
                        <tr>
                            <td><a class="btn btn-sm btn-warning" href="/dashboard/finance-delete/<%= history._id %>">Delete</a></td>
                            <% if (history.type == 'credit'){ %>
                                <td><span class="badge badge-success">credit</span></td>
                            <% } else { %>
                                <td><span class="badge badge-danger">debit</span></td>
                            <% } %>
                            <td><%= history.account %></td>
                            <td><%= history.amount %></td>
                            <td><%= history.description %></td>
                            <td><%= history.date %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        $('#client-datatable').DataTable();
    });
</script>

</html>